@use "@/styles/variables.scss" as *;

.accountSettings {
  h3 {
    margin-bottom: 1rem;
  }
}

.userInfo {
  background-color: var(--color-btn-def-hover);
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;

  strong {
    color: var(--color-text-l-dark);
  }
}

.divider {
  border-color: var(--color-border);
  margin: 2rem 0;
}

.formWrapper {
  max-width: 500px;

  h4 {
    margin-bottom: 0.5rem;
  }
}

.formDescription {
  font-size: 0.9rem;
  color: var(--color-text-l-dark);
  margin-bottom: 1.5rem;
}

.formGroup {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    background-color: var(--color-text-primary);
    color: var(--color-text-primary);

    &:focus {
      outline: none;
      border-color: var(--color-text-error);
      box-shadow: 0 0 0 2px rgba(var(--color-bg-low), 0.2);
    }
  }
}

.error {
  color: var(--color-text-error);
  margin-top: 1rem;
  text-align: center;
}

.submitButton {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: var(--color-bg-high);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: (var(--color-bg-high), 10%);
  }
}
