.barContainer {
  width: 20px; 
  height: 100%; 
  background-color: #403d39; 
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column-reverse; 
  transition: filter 0.3s ease;
}

.whiteBar {
  width: 100%;
  background-color: #ffffff; 
  transition: height 0.5s ease-in-out; 
}

.scoreText {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  z-index: 1;
  top: 5px; 
  color: #fff;
}

.darkText {
  top: auto;
  bottom: 5px;
  color: #333;
}

.disabled {
  filter: grayscale(100%) opacity(0.6); 
}