.wrapper {
  background-color: var(--color-board-control, #302e2c);
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #e0e0e0;
  display: flex;
  gap: 20px;
}

.control {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-size: 1.2rem;
    strong { color: var(--color-btn-green); }
  }

  input[type="range"] {
    width: 100%;
    cursor: pointer;
  }
}