@import "@/styles/variables.scss";

.adminLayout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  background-color: var(--color-admin-sidebar-bg);
  padding: 20px;
  position: fixed;
  height: 100%;
  color: var(--color-text-primary);
}

.mainContent {
  margin-left: 240px; // Same as sidebar width
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
