@use "@/styles/variables.scss";

.adminLayout {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--color-bg-low) 5%,
    var(--color-bg-high) 25%,
    var(--color-bg-high) 100%
  );
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: var(--color-text-primary);
}

.container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  gap: 2rem;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  border-right: 1px solid var(--color-border-light);
  padding-right: 1rem;
}

.mainContent {
  flex-grow: 1;
  min-width: 0; /* Prevents content from overflowing the container */
}
