/* GamePage.module.scss */

.wrapper {
  min-height: calc(80vh - var(--header-height));
  color: var(--color-text-primary, #e3e3e3);
  
  &.row {
    align-items: stretch;
  }
}

.boardArea {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.board {
  width: 100%;
  margin: 15px 0; /* Khoảng cách giữa bàn cờ và PlayerInfoBox */
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.panelArea {
  display: flex;
  flex-direction: column;
}

// .col-height {
//   max-height: 80vh;
// }