/* GamePage.module.scss */

.wrapper {
  min-height: calc(80vh - var(--header-height));
  color: var(--color-text-primary, #e3e3e3);
  
  &.row {
    align-items: stretch;
  }
}

.boardArea {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.board {
  width: 100%;
  margin: 15px 0; /* Khoảng cách giữa bàn cờ và PlayerInfoBox */
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.panelArea {
  display: flex;
  flex-direction: column;
}

.playerInfoColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  align-items: center;
}

.playerBlock {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa InfoBox */
  gap: 10px;
  width: 100%;
}