@use "@/styles/variables.scss" as *;

.container {
  padding: 2rem;
  color: var(--color-text-primary);

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--color-text-l-dark);
  }
}