@use "@/styles/variables.scss";

.userTable {
  width: 100%;
  border-collapse: collapse;
  color: var(--color-text-l-dark);

  th,
  td {
    padding: 12px 15px;
    text-align: left;
  }

  thead th {
    background-color: var(--color-table-header-bg);
    font-weight: bold;
    border-bottom: 2px solid var(--color-border);
  }

  tbody tr {
    border-bottom: 1px solid var(--color-border);
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-table-row-hover);
    }
  }

  tbody tr:last-child {
    border-bottom: none;
  }
}

.status {
  display: flex;
  align-items: center;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .active {
    background-color: #34c759; // Green for active
  }

  .banned {
    background-color: #ff3b30; // Red for banned
  }
}

.actionButton {
  background-color: transparent;
  border: 1px solid var(--color-text-primary);
  color: var(--color-text-primary);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-admin-sidebar-hover);
    border-color: var(--color-text-hover);
    color: var(--color-text-hover);
  }

  &.ban {
    border-color: #ff3b30;
    color: #ff3b30;
    &:hover {
      background-color: rgba(255, 59, 48, 0.1);
    }
  }

  &.unban {
    border-color: #34c759;
    color: #34c759;
     &:hover {
      background-color: rgba(52, 199, 89, 0.1);
    }
  }
}
