@use "@/styles/variables.scss" as *;

.sidebar {
  padding: 1rem;
  border-right: 1px solid var(--color-border);
  height: 100%;
}

.tab {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 4px; 
  margin-bottom: 0.5rem;
  transition: background-color 0.2s;
  color: var(--color-text-primary);

  &:hover {
    background-color: var(--color-btn-def-hover);
    color: var(--color-text-hover);
  }

  &.active {
    background-color: var(--color-btn-green); 
    color: white; // Giữ nguyên
  }

  i {
    margin-right: 0.75rem;
    width: 20px;
    text-align: center;
  }
}