/* GameInfoPanel.module.scss */

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background-color: var(--color-board-control, #302e2c);
  border-radius: 4px;
  overflow: hidden; 
}


/* Tabs (Lịch sử, Chat) */
.tabs {
  display: flex;
  border-bottom: 1px solid var(--color-border, #404040);

  button {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 12px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: #a0a0a0;
    cursor: default;
    transition: all 0.2s ease;

    // &:hover {
    //   background-color: var(--color-btn-def-hover, #3c3934);
    // }
  }
}

// .tabActive {
//   color: #fff !important;
//   font-weight: 600;
//   box-shadow: inset 0 -2px 0 var(--color-btn-green, #7fa650);
// }

/* Container cho MoveBoard */
.moveListContainer {
  flex: 1; 
  overflow-y: auto; 
  min-height: 0;
}

/* Nút điều khiển (Đầu hàng, Cầu hòa) */
.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px; // Đường kẻ mảnh
  background-color: var(--color-border, #404040); // Màu của đường kẻ
  border-top: 1px solid var(--color-border, #404040);

  button {
    display: flex;
    justify-content: center;
    padding: 14px;
    background-color: var(--color-board-control, #302e2c);
    border: none;
    cursor: pointer;
    color: #c0c0c0;
    font-size: 1.4rem;
    font-weight: 500;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-btn-def-hover, #3c3934);
      color: #fff;
    }

    /* Nút đầu hàng */
    &:first-child:hover {
      background-color: var(--color-highlight, #e53935); // Màu đỏ
      color: #fff;
    }
  }
  button:disabled {
    color: #777;
    background-color: #2b2927;
    cursor: not-allowed;
    &:hover {
      background-color: #2b2927;
      color: #777;
    }
  }
}
