.wrapper {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--color-bg-low) 5%,
    var(--color-bg-high) 25%,
    var(--color-bg-high) 100%
  );
  color: var(--color-text-primary);
}

.body {
  padding-top: var(--header-height);
}
