@use "@/styles/variables.scss" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding: 0 16px;
  background-color: var(--color-bg-low);
  color: var(--color-text-primary);
}

.header__nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: var(--color-text-l-dark);
  cursor: pointer;
}

.logo-icon {
  font-size: 2.8rem;
  margin-right: 6px;
}

.logo-text {
  height: 44px;
  font-weight: 300;
}

.logo:hover {
  color: var(--color-link);
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.header__auth {
  height: 100%;
  display: flex;
  align-items: center;
}

.loginButton {
  font-weight: 300;
  color: var(--color-link);
  &:hover {
    color: var(--color-link-hover);
  }
}

/* Tên user khi đã đăng nhập */
.userProfile {
  background: none;
  border: none;
  color: var(--color-text-primary);
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px; // Khoảng cách giữa icon (nếu có) và tên

  &:hover {
    color: var(--color-text-hover);
  }

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 1rem;
  }

  .navigation {
    gap: 0.5rem;
    a span {
      display: none;
    }
  }

  .userProfile {
    gap: 4px;
    img {
      width: 28px;
      height: 28px;
    }
  }
}